.landingContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.introduction span{
    background: #0098CF;
    background: linear-gradient(to right, #0098CF 43%, #00CFBA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.introduction h1,
.introduction h2{
    color: var(--clr-primary);
}
.introduction h1{
    font-size: 50px;
} 
.introduction h2{
    font-size: 36px;
    font-weight: 500;
    color: grey;
}
@media only screen and (max-width: 600px) {
    .landingContainer{
        height: 25vh;
    }
    .introduction{
        margin-top: 50px;
    }
    .introduction h1{
        font-size: 10vw;
    }
    .introduction h2{
        font-size: 4vw;
    }
}